<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.alu.simple-ebook"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>高雄生物多樣性調查與推廣</name>

    <description>
        高雄生物多樣性調查與推廣展示電子書
    </description>

    <author href="https://build.phonegap.com" email="shady.tw@gmail.com">
        Tsai Toan-En
    </author>
	
	<icon src="icon.png" />
	
	<gap:plugin name="org.apache.cordova.media" />
	
	<gap:platform name="ios" />
	<gap:platform name="android" />	
	
	<preference name="orientation" value="landscape" />
	<preference name="fullscreen" value="true" />	
	
</widget>